<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ChefProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>Login.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.xhtml</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>cheflogin</display-name>
    <servlet-name>cheflogin</servlet-name>
    <servlet-class>com.chefproject.Day14.cheflogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cheflogin</servlet-name>
    <url-pattern>/cheflogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete</display-name>
    <servlet-name>delete</servlet-name>
    <servlet-class>com.chefproject.Day14.delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chefregister</display-name>
    <servlet-name>chefregister</servlet-name>
    <servlet-class>com.chefproject.Day14.chefregister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chefregister</servlet-name>
    <url-pattern>/chefregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerRegisterServlet</display-name>
    <servlet-name>CustomerRegisterServlet</servlet-name>
    <servlet-class>com.chefproject.Day14.CustomerRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRegisterServlet</servlet-name>
    <url-pattern>/CustomerRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>customerregister</display-name>
    <servlet-name>customerregister</servlet-name>
    <servlet-class>com.chefproject.Day14.customerregister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customerregister</servlet-name>
    <url-pattern>/customerregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chefapproval</display-name>
    <servlet-name>chefapproval</servlet-name>
    <servlet-class>com.chefproject.Day14.chefapproval</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chefapproval</servlet-name>
    <url-pattern>/chefapproval</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chefreject</display-name>
    <servlet-name>chefreject</servlet-name>
    <servlet-class>com.chefproject.Day14.chefreject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chefreject</servlet-name>
    <url-pattern>/chefreject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editchefs</display-name>
    <servlet-name>editchefs</servlet-name>
    <servlet-class>com.chefproject.Day14.editchefs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editchefs</servlet-name>
    <url-pattern>/editchefs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>requestchef</display-name>
    <servlet-name>requestchef</servlet-name>
    <servlet-class>com.chefproject.Day14.requestchef</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>requestchef</servlet-name>
    <url-pattern>/requestchef</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatestatusbooking</display-name>
    <servlet-name>updatestatusbooking</servlet-name>
    <servlet-class>com.chefproject.Day14.updatestatusbooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatestatusbooking</servlet-name>
    <url-pattern>/updatestatusbooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomerDetails</display-name>
    <servlet-name>UpdateCustomerDetails</servlet-name>
    <servlet-class>com.chefproject.Day14.UpdateCustomerDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerDetails</servlet-name>
    <url-pattern>/UpdateCustomerDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateChefDetails</display-name>
    <servlet-name>UpdateChefDetails</servlet-name>
    <servlet-class>com.chefproject.Day14.UpdateChefDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateChefDetails</servlet-name>
    <url-pattern>/UpdateChefDetails</url-pattern>
  </servlet-mapping>
</web-app>